html {
    background:
      radial-gradient(circle, transparent 20%, #92aa83 20%, #92aa83 80%, transparent 80%, transparent),
      radial-gradient(circle, transparent 20%, #92aa83 20%, #92aa83 80%, transparent 80%, transparent) 50px 50px,
      linear-gradient(#b0bea9 4px, transparent 4px) 0 -2px,
      linear-gradient(90deg, #b0bea9 4px, transparent 4px) -2px 0;
    background-color: #92aa83;
    background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
  }
  body {
    font-family: Open Sans;
    color: #454545;
  }
  blockquote {
    font-size: 1.05em;
    background-color: #cdd19a;
    padding: 1rem 4rem;
    line-height: 1.1;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 .25em #656565;
    border-radius: 18px;
  }
  a {
    color: inherit;
  }
  a:hover {
    color: #db8f3d;
  }
  p {
    font-size: 24px;
    line-height: 1.75;
    text-align: center;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  hr {
    text-align: center;
    margin: 1.5rem auto 1.5rem auto;
    border-top: 3px solid #454545;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (max-width: 1080px) {
    blockquote {
      max-width: 40rem;
    }
  }
